.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }
  .promo-card{
      width:25%;
      box-shadow: none !important;
  }
  .product-option{
      width:100%;
      height:100% !important;
  }
  .location-option{
    width:100%;
    height:100% !important;
}
button:focus {
    outline: none;
}