<div class="promotion-page">
    <form [formGroup]="mainForm" (ngSubmit)="isFormSubmit(mainForm.value)">
        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Products</mat-label>
            <mat-select formControlName="products" required>
                <mat-option class="product-option">
                    <mat-tree [dataSource]="dataSourceProducts" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <mat-checkbox [checked]="checklistSelection.isSelected(node)"
                                (change)="todoLeafItemSelectionToggle(node)">
                                {{node.name}}
                            </mat-checkbox>

                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <mat-checkbox [checked]="descendantsAllSelected(node)"
                                [indeterminate]="descendantsPartiallySelected(node)"
                                (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
                        </mat-tree-node>
                    </mat-tree>
                </mat-option>
            </mat-select>
            <mat-error>please select product</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Location</mat-label>
            <mat-select formControlName="locationList" required>
                <mat-option class="location-option">
                    <mat-tree [dataSource]="dataSourceLocation" [treeControl]="treeControlLocation">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <mat-checkbox [checked]="checkListSelection.isSelected(node)"
                                (change)="todoLeafItemSelectionLocationToggle(node)">
                                {{node.name}}
                            </mat-checkbox>

                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControlLocation.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <mat-checkbox [checked]="descendantsAllSelectedLocation(node)"
                                [indeterminate]="descendantsPartiallySelectedLocation(node)"
                                (change)="todoItemSelectionToggleLocation(node)">{{node.name}}</mat-checkbox>
                        </mat-tree-node>
                    </mat-tree>
                </mat-option>
            </mat-select>
            <mat-error>please select location</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Number of weeks</mat-label>
            <input matInput placeholder="no of weeks" type="number" formControlName="weeks" required
                [(ngModel)]="weeks">
            <mat-error>please enter weeks</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-3">
            <mat-date-range-input [rangePicker]="picker" formGroupName="range" required>
                <input matStartDate formControlName="start" placeholder="Start Date" readonly>
                <input matEndDate formControlName="end" placeholder="End Date" readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startpicker">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endpicker">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker> -->
            <mat-error>please select startDate and endDate</mat-error>
        </mat-form-field>
        <button mat-raised-button class="bg-primary text-white ml-5" type="submit">Next</button>
    </form>
    <mat-card class="promo-card">
        <h3>Promotion to be rolled</h3>
        <form class="example-form" [formGroup]="sliderForm" (ngSubmit)="onFormSubmit(sliderForm.value)">
            <mat-slide-toggle formControlName="tpr" color="primary" required>
                TPR
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="feature" color="primary" required>
                Feature Only
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="display" color="primary" required>
                Display Only
            </mat-slide-toggle>
            <mat-slide-toggle formControlName="feadis" color="primary" required>
                Feature &
                Display
            </mat-slide-toggle>
            <div class="row" style="display: flex; flex-direction:row;">
                <div class="col-md-6">
                    <mat-slide-toggle formControlName="discount" color="primary" required>Discount</mat-slide-toggle>
                </div>
                <div class="col-md-1">
                    <mat-form-field style="width:100px;"><input type="number" matInput min="0" max="25"
                            placeholder="0-25" formControlName="discountValue" required>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" class="bg-info text-white">Forecast</button>
        </form>
    </mat-card>
</div>