.file-card {
    border-radius: 2px;
    width:700px;
    height:400px;
    border: 1px solid #EEF2F7;
    
}
.input-block {
    padding: 3em;
  }
  ::placeholder {
    color: #494949;
  }
  .input-file-label {
    font-size: 15px;
    color: #707070;
  }
  
  .filePathColor {
    color: #007ce4;
    font-weight: 500;
  }

  .input-box{
      width:100%;
  }
  .button-view{
      background-color: #00d5e4;
  }
