.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-bg {
    background-color: #edf2f8;
  }
  
  .app-name {
    color:#1a72ae;
    font-size: 16px;
  }
  
  .menu-icon-color {
    color: #1a72ae;
  }
  
  .mat-toolbar {
    background-color: #ffffff;
    height: 60px;
  }
  a{
     text-decoration: none;
  }
  
  .menu-open {
    width: 240px;
  }
  
  .menu-close {
    width: 55px;
  }
  
  .sidenav {
    background-color: #0087ca;
}
  
  .mat-expansion-panel {
      background-color: transparent;
    }
  
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      height: 38px;
      color: #95cde9;
      font-size: 13px;
      border-radius: 25px;
    }
  
    .mat-expansion-panel-header.mat-expanded {
      height: 48px;
    }
  
    .sub-menu-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
    }
  
    .sub-menu-active-icon-bg {
      background: #004a76;
      border-radius: 5px;
      color: #ff7f00;
    }
  
    .active-icon-color {
      color: #ff7f00;
    }
  
    .active-label-color {
      color: #ffffff;
    }
  
    .active-link {
      background-color:#004a76;
    }
  
  
  .sidenav-container {
    height: 100%;
  }
  .user-avatar {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    background-color: #00b5ac;
    color: white;
    display: grid;
    place-items: center;
    font-size: 14px;
  }
  
  .username-label {
    color: #7d6170;
    font-size: 17px;
    font-weight: normal;
    float:left;
    padding-right:10px;
  }
  button:focus {
    outline: none;
}