<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [mode]="'side'" opened="true" class="sidenav" [ngClass]="[isMenuOpen ? 'menu-open' : 'menu-close']">
        <div class="text-center my-3">
            <a routerLink="planning">
                <img [src]="assetsPath.appLogoWhiteImg" alt="App logo" [ngStyle]="{'width.px': isMenuOpen ? 80 : 55}">
            </a>
        </div>
        <mat-nav-list>
            <mat-list-item routerLink="planning/promotion">
                <mat-icon>timeline</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="promotion">
                <mat-icon>trending_up</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="volume">
                <mat-icon>bar_chart</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="reports">
                <mat-icon>public</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="planning">
                <mat-icon>business_center</mat-icon>
            </mat-list-item>
            <mat-list-item routerLink="planning/volume">
                <mat-icon>groups</mat-icon>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px':  isMenuOpen ? 240 : 50}" class="main-bg">
        <mat-toolbar>
            <button mat-icon-button (click)="toggleMenu();">
                <mat-icon class="menu-icon-color">{{assetsPath.menuOpenIcon}}</mat-icon>
            </button>
            <a routerLink="planning">
                <span class="app-name">TRADE PROMOTION OPTIMIZATION</span>
            </a>
            <span class="example-spacer"></span>
            <div class="d-flex pr-3 align-items-center">
                <span class="pr-3 username-label">{{username}}</span>
                <div class="user-avatar">{{profile}}</div>
            </div>
        </mat-toolbar>

        <div class="px-4 pt-3">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>